<h3>User</h3>

<div class="name">Name: {{user.name}}</div>
<div class="funny-name">Funny Name: {{user.funnyName}}</div>

Projects:
<ul>
 {{#each user.projects as |project|}}
   <li class="project">{{project.title}}</li>
 {{/each}}
</ul>

<label>Project title{{input class="project-title" type="textbox" value=this.projectTitle}}</label>
<button class="add-project" type="button" {{action 'addProject' user projectTitle}}>Add Project</button>
